<?xml version="1.0"?>
<MovilizerMovelet xmlns="http://movilitas.com/movilizer/v12"
                      moveletKey="OlivierMovelet"
                  moveletKeyExtension=""
                  namespace=""
                  icon="43"
                  moveletType="MULTI"
                  initialQuestionKey="Q_Initial">
    <question type="1" title="Hello EPI" key="Q_Initial">
        <answer key="A_Message" nextQuestionKey="Q_FullText" dummyAnswer="false">
            <text>Hello from Olivier</text>
        </answer>
        <complex groupTitle="Linear Layout Sample" linearGroupId="GroupA" linearPos="0" linearHeight="3"
                 linearInnerScrollbar="false"/>
    </question>
    <question type="3" title="Full Text Screen" key="Q_FullText">
        <answer key="A_FullText" nextQuestionKey="END" dummyAnswer="false" valueAlignment="LEFT" valueFontStyle="ITALIC">
            <text>Hello from Olivier</text>
        </answer>
        <complex groupTitle="Linear Layout Sample" linearGroupId="GroupA" linearPos="1" linearHeight="10"
                 linearInnerScrollbar="false"/>
        <predifinedValue>Please enter some information here</predifinedValue>
    </question>

    <name>Olivier's movelet</name>
</MovilizerMovelet>
